
  <div class="filter-bar">

    <%= link_to plots_path, id: "show-all" do %>
      <div class="mr-3">Show All</div>
    <% end %>

    <div class="div">-</div>

    <div class="dropdown">
      <div class="filter-button mx-3" id="dropdownMenuCategory" data-toggle="dropdown" aria-expanded="false">Price</div>
      <div class="dropdown-menu border-none" aria-labelledby="dropdownMenuCategory">
        <form action="/plots" method="get" class="mx-3 my-2">
          <div class="form-group">
            <input type="text" class="form-control" name="min_p" value="0" placeholder="Min Price">
            <input type="hidden" name="location" value="<%= params[:location] %>">
            <input type="hidden" name="type" value="<%= params[:type] %>">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="max_p" placeholder="Max Price">
          </div>
          <button type="submit" class="btn btn-outline-primary">Search</button>
        </form>
      </div>
    </div>

    <div class="div">-</div>

    <div class="dropdown">
      <div class="filter-button mx-3" id="dropdownMenuCategory" data-toggle="dropdown" aria-expanded="false">Type</div>
      <div class="dropdown-menu border-none" aria-labelledby="dropdownMenuCategory">
      <% Plot::TYPE.each do |type| %>
        <%= link_to plots_path(type: type, location: params[:location],min_p: params[:min_p], max_p: params[:max_p]) do  %>
          <div class="dropdown-item"><%= type %></div>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>

