<div class="container-lg">
  <div class="row mb-2">
    <div class="col-4" >
      <%= form_tag plots_path, method: :get do %>
        <%= text_field_tag :location,
          params[:location],
          class: "form-control filter-search-bar",

          placeholder: "London"
        %>
      <% end %>
    </div>
    <div class="col-8 px-2">
      <%= render 'plots/filter_bar' %>
    </div>
  </div>
</div>

<div class = "container-lg">
  <div class= "row">
    <div class="col-4" >
      <div class="bg-white" id="map-container">
        <%= render 'plots/map' %>
      </div>
    </div>
    <div class="col-8 px-2">
      <% if @plots.size > 0 %>
        <div class="index-grid">
          <% @plots.each do |plot| %>
            <%= link_to plot, class: "card-index-link" do  %>
              <%= render 'plots/card', plot: plot %>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <h6 class="pl-4 none-msg"><span class="highlight-blue">Sorry, no plots match your query.</span></h6>
      <% end %>
    </div>
  </div>
</div>
