<div class="container-lg">
  <div class="d-flex mb-2">
    <div class="col-4 p-0" >
      <%= form_tag plots_path, method: :get, class: "form-inline justify-content-center" do %>
        <%= text_field_tag :address,
          params[:address],

          class: "form-control filter-search-bar bar-search ml-2 mr-2",

          placeholder: " London, 8DY, E2 8DY"
        %>
        <div id = "search_radius">
        <%= number_field_tag :search_radius,
        params[:search_radius],
        label: "Search radius",
        class: "form-control filter-search-bar mr-2",
        min: 1, max: 100, step: "1",
        value: params[:search_radius] || 20 ,
        title:  "Search radius in kilometres"
        %>
      </div>
       <%= submit_tag "Search for a plot", class: "btn btn-primary" %>

      <% end %>
    </div>
    <div class="col-8 px-2 col-filter-bar">
      <%= render 'plots/filter_bar' %>
    </div>
  </div>
</div>

<div class = "container-lg">
  <div class= "d-flex">
    <div class="col-4 p-0" >
      <div class="bg-white" id="map-container">
        <%= render 'plots/map' %>
       <!--  <div class="digg_pagination">
          <div class="page_info">
            <%#= page_entries_info @plots %>
          </div>
          <%#= will_paginate @plots, :container => false %>
        </div> -->
      </div>
    </div>
    <div class="col-8 px-2">
      <% if @plots.size > 0 %>
        <div class="index-grid">
          <%#= @plots.to_a.count %>
          <% @plots.each do |plot| %>
              <%= render 'plots/card', plot: plot %>
          <% end %>
        </div>
            <div class="load-more-container">
        <!-- hide our loading gif image so that we show it when making ajax call via jquery -->
              <%= image_tag "ajax-loader.gif", style: "display:none;", class: "loading-gif mb-3" %>
              <%= link_to "Load More", plots_path, class: "load-more btn btn-primary mb-3" %>
            </div>
      <% else %>
        <h6 class="pl-4 none-msg"><span class="highlight-blue">Sorry, no plots match your query.</span></h6>
      <% end %>
  </div>
</div>

<% content_for :after_js do %>
  <script>
    // when the page is ready for manipulation
    // console.log("inside html js");
    <% symbols = [:id, :min_p, :max_p, :type, :address, :search_radius] %>
    <% data_hash = {} %>
    <% symbols.each do |symbol| %>
      <% if params[symbol] %>
        <% data_hash[symbol] = params[symbol] %>
      <% end %>
    <% end %>

    var dataHash = JSON.parse('<%= raw(data_hash.to_json) %>');
    console.log(dataHash)

    $(document).ready(function () {
        // when the load more link is clicked
        $('a.load-more').click(function (e) {

            // prevent the default click action
            e.preventDefault();

            // hide load more link
            $('.load-more').hide();

            // show loading gif
            $('.loading-gif').show();

            // get the last id and save it in a variable 'last-id'
            var last_id = $('.card').last().attr('data-id');
            // console.log("inside of plot.js")
            // console.log(last_id)
            if (last_id) {
              dataHash.id = last_id
            }
            // make an ajax call passing along our last user id
            $.ajax({

                // make a get request to the server
                type: "GET",
                // get the url from the href attribute of our link
                url: $(this).attr('href'),
                // send the last id to our rails app
                data: dataHash,
                // the response will be a script
                dataType: "script",

                // upon success
                success: function () {
                    // hide the loading gif
                    $('.loading-gif').hide();
                    // show our load more link
                    $('.load-more').show();
                }
            });
        });
    });
  </script>
<% end %>
