<div class="container-lg">
  <div class="d-flex mb-2">
    <div class="col-4 p-0" >
      <%= form_tag plots_path, method: :get, class: "form-inline" do %>
        <%= text_field_tag :address,
          params[:address],
          class: "form-control filter-search-bar",

          placeholder: "Enter the postal code"
        %>
        <div id = "search_radius">
        <%= number_field_tag :search_radius,
        params[:search_radius],
        label: "Search radius",
        class: "form-control filter-search-bar",
        min: 1, max: 100, step: "1",
        value: params[:search_radius] || 2 ,
        title:  "Search radius in kilometres"
        %>
      </div>
       <%= submit_tag "Search for a plot", class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="col-8 px-2 col-filter-bar">
      <%= render 'plots/filter_bar' %>
    </div>
  </div>
</div>

<div class = "container-lg">
  <div class= "d-flex">
    <div class="col-4 p-0" >
      <div class="bg-white" id="map-container">
        <%= render 'plots/map' %>
        <div class="digg_pagination">
          <div class="page_info">
            <%#= page_entries_info @plots %>
          </div>
          <%#= will_paginate @plots, :container => false %>
        </div>
      </div>
    </div>
    <div class="col-8 px-2">
      <% if @plots.size > 0 %>
        <div class="index-grid">
          <% @plots.each do |plot| %>
            <%= link_to plot, class: "card-index-link" do  %>
              <%= render 'plots/card', plot: plot %>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <h6 class="pl-4 none-msg"><span class="highlight-blue">Sorry, no plots match your query.</span></h6>
      <% end %>
    </div>
  </div>
</div>

