<div class="filter-bar d-flex justify-content-between">
  <div class="div d-flex justify-content-between">
    <%= link_to architects_path, id: "show-all-arc" do %>
      <div class="mr-4">Show All</div>
    <% end %>

    <div class="dropdown">
      <div class="filter-button-arc mx-4" id="dropdownMenuCategory" data-toggle="dropdown" aria-expanded="false">Location <!-- <span class="selection">All</span><span class="caret"></span> -->
      </div>
      <div class="dropdown-menu border-none" aria-labelledby="dropdownMenuCategory">
      <% Architect::LOCATION.each do |location| %>
        <%= link_to architects_path(location: location, speciality: params[:speciality]) do  %>
          <div class="dropdown-item"><%= location %></div>
        <% end %>
      <% end %>
      </div>
    </div>

    <div class="dropdown">
      <div class="filter-button-arc mx-4" id="dropdownMenuCategory" data-toggle="dropdown" aria-expanded="false">Speciality</div>
      <div class="dropdown-menu border-none" aria-labelledby="dropdownMenuCategory">
        <% Architect::SPECIALITY.each do |speciality| %>
          <%= link_to architects_path(speciality: speciality, location: params[:location]) do  %>
            <div class="dropdown-item"><%= speciality %></div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="dropdown">
      <div class="filter-button-arc mx-4" id="dropdownMenuCategory" data-toggle="dropdown" aria-expanded="false">Available</div>
      <div class="dropdown-menu border-none" aria-labelledby="dropdownMenuCategory">
          <div class="dropdown-item">Yes</div>
          <div class="dropdown-item">No</div>
      </div>
    </div>
  </div>

  <div class="user-filtered">

    <% if params[:location].present? && params[:speciality].present? == false %>
      <div class="mr-2 p-2 border text-muted bold s_font"><%= params[:location] %></div>
    <% elsif params[:speciality].present? && params[:location].present? == false && params[:budget].present? == false  %>
      <div class="mr-2 p-2 border text-muted bold s_font"><%= params[:speciality] %></div>
    <% else %>
    <% end %>


    <% if params[:location].present? && params[:speciality].present? %>
      <span class="mr-2 p-2 border text-muted bold s_font">
        <%= params[:location] %></span>
      <span class="mr-2 p-2 border text-muted bold s_font">
        <%= params[:speciality] %></span>
    <% elsif params[:speciality].present? && params[:budget].present? %>
      <span class="mr-2 p-2 border text-muted bold s_font">
        <%= params[:speciality] %></span>
      <span class="mr-2 p-2 border text-muted bold s_font">
        <%= number_to_currency(params[:budget], unit: "£", precision: 0) %></span>
    <% end %>
  </div>
</div>









