<div class="filter-bar">

  <%= link_to architects_path, id: "show-all" do %>
    <div class="mr-4">Show All</div>
  <% end %>

  <div class="div"></div>

  <div class="dropdown">
    <div class="filter-button mx-4" id="dropdownMenuCategory" data-toggle="dropdown" aria-expanded="false">Type</div>
    <div class="dropdown-menu border-none" aria-labelledby="dropdownMenuCategory">
    <% Architect::LOCATION.each do |location| %>
      <%= link_to architects_path(location: location, speciality: params[:speciality]) do  %>
        <div class="dropdown-item"><%= location %></div>
      <% end %>
    <% end %>
    </div>
  </div>

  <div class="div"></div>

  <div class="dropdown">
    <div class="filter-button mx-4" id="dropdownMenuCategory" data-toggle="dropdown" aria-expanded="false">Speciality</div>
    <div class="dropdown-menu border-none" aria-labelledby="dropdownMenuCategory">
      <% Architect::SPECIALITY.each do |speciality| %>
        <%= link_to architects_path(speciality: speciality, location: params[:location]) do  %>
          <div class="dropdown-item"><%= speciality %></div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="div"></div>

  <div class="dropdown">
    <div class="filter-button mx-4" id="dropdownMenuCategory" data-toggle="dropdown" aria-expanded="false">Available</div>
    <div class="dropdown-menu border-none" aria-labelledby="dropdownMenuCategory">
        <div class="dropdown-item">Yes</div>
        <div class="dropdown-item">No</div>
    </div>
  </div>
</div>

