<!-- container for all the Architects info -->
<div class="flex-grow-1 m_font">

  <!-- first section with Architect city,  -->
  <div class="d-flex justify-content-between align-items-end mt-4">
    <div class="card-left">
      <h4 class="card-title mb-1 mt-3"><%= @architect.name %></h4>
      <p class="mb-0 h_font bold"><%= @architect.location %></p>
    </div>
    <div class="card-right text-right">
      <p class="mb-0 h_font bold mr-5"><%= link_to 'Website', @architect.website_url, target: :_blank, class: "purple underline-none mr-4" %></p>
    </div>
  </div>

  <!-- second section with Architect bio. -->
  <hr class="mr-5">
  <div class="scroll-box mr-5">
    <% ps = PragmaticSegmenter::Segmenter.new(text: @architect.bio ) %>

    <% ps.segment.each_slice(3) do |slice| %>
      <p><%= slice.join ' ' %></p>
    <% end %>
  </div>
  <hr class="mr-5">

  <!-- third section list the Architect specialties -->
  <div class="d-flex justify-content-between align-items-top">
    <div class="card-left text-right mt-3">
      <!-- <h6 class="m_font purple thin">SPECIALITY_ </h6> -->
      <h6 class="mb-0 m_font purple bold">
        <% spec = @architect.speciality %>
        <%= spec %> <span class="mx-2">|</span>
        <% if spec == "New Build: Country Home"   %>
          New Build: Eco-Home
        <% else %>
          <%= (Architect::SPECIALITY - [spec]).sample %>
        <% end %>
      </h6>
    </div>
  </div>
</div>




