<!-- container for all the Architects info -->
<!-- <div class="flex-grow-1 m_font"> -->


<div class="card-appt margin-bottom">
  <div class="">
    <div class="card-date">
      <h6 class="white-bg-appt bold">Date</h6>
      <h6 class="white-bg-appt bold">Time</h6>
    </div>
    <div class="card-show-appt">
      <div class="row">
        <div class="my-3 pl-4 text-left pb-4">
          <% @architect.appt_times.first(5).each do |appt_time| %>
          <h5 class="mb-0 purple bold"><%= appt_time.strftime("%d")%></h5>
          <p class="mb-0 h_font bold mb-2"><%= appt_time.strftime("%B")[0..2]%></p>
          <hr>
          <% end %>
        </div>
        <div class="my-3 pl-5 text-center">
          <% @architect.appt_times.first(5).each do |appt_time| %>
            <h5 class="mb-0 purple bold"><%= "#{appt_time.hour >= 12 ? appt_time.hour - 12 : appt_time.hour}:00" %></h5>
            <p class="mb-0 h_font bold mb-2"><%= appt_time.hour >= 12 ? "PM" : "AM" %></p>
           <hr>
           <% end %>
        </div>

      </div>
    </div>
  </div>

  <div class="bold">
    <%= simple_form_for [@architect, @appointment] do |f| %>
      <%= f.association :project, prompt: 'choose a project' %>
      <%= f.input :appt_time, collection: @architect.appt_times, prompt: '2019-06-25 13:00:00'%>
      <%= f.submit "Request appointment", class: "mb-4", id: "req-appt-btn" %>
    <% end %>
  </div>
</div>



  <!-- second section with Architect bio. -->
  <!-- <hr class="mr-5 mt-4"> -->
  <!-- <div class="mr-5 mt-5">
    <%# @architect.appt_times.each do |appt_time| %>
      <p><%#= appt_time %> </p>
    <%# end %>
  </div>
  <%#= simple_form_for [@architect, @appointment] do |f| %>
    <%#= f.association :project %>
    <%#= f.input :appt_time, collection: @architect.appt_times %>
    <%#= f.submit "Request appointment" %>
  <%# end %>

  <hr class="mr-5"> -->
<!-- </div> -->
