<div class="col-xs-12 col-md-8">
  <h5><%= @architect.name %></h5>
</div>


<div class="container-lg">
  <div class="row">

    <div class="col-xs-12 col-lg-6 container-rt">
      <%= render 'architects/show_tab_headers' %>
      <%= render 'architects/show_tab' %>
    </div>

    <div class="col-xs-12 col-lg-6 p-0">
<!--       <div class="image-show" style='background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url("<%= @plot.image_url %>")'>
      </div> -->
      <%= image_tag @plot.image_url, crop: :fill, class: 'image-show' %>
    </div>


  </div>
</div>
