<!-- project tab -->
<div class="tab-pane fade" id="pills-project" role="tabpanel" aria-labelledby="pills-project-tab">
  <% if @user.projects.size == 0 %>
    <h5 class="left-banner py-3"><span class="highlight-purple">No projects to display</span> </h5>
    <hr>
  <% else %>
    <p class="ml-3 pt-5 thin h_font m_font purple">Current Projects </p>
    <% @user.projects.each do |project| %>
      <div class = "card border-0">
        <div class = "card-body">
      <p>Title: <%= project.title %></p>
      <p>Description: <%= truncate project.brief, length: 50, separator: /\s/, omission: '' %></p>
      <p>Budget: <%= project.budget %></p>
      <p>Category: <%=project.category %></p>
      <p>Site Address:<%= project.plot_postcode %> </p>
    </div>
  </div>
    <% end %>
  <% end %>

  <div class="col-6 py-4" >
    <p class="hin h_font m_font mb-4 purple">Create a New Project </p>
      <%= simple_form_for @project do |f| %>
        <%= f.input :title, label: "Project name" %>
        <%= f.input :budget, label: "Budget", input_html: { min: '0', step: "500"} %>
        <%= f.input :plot_postcode, label: "Postal code of Plot" %>
        <%= f.input :category, collection: Architect::SPECIALITY, prompt: 'Select a Category' %>
        <%= f.input :brief  %>
        <%= f.submit "Submit Project", class: "btn btn-primary", id:"btn-sumbit-project" %>
      <% end %>
    </div>
  </div>
