
<!-- appointments tab -->
<div class="tab-pane fade" id="pills-appts" role="tabpanel" aria-labelledby="pills-appts-tab">

  <% if @user.appointments.size == 0 %>
    <div class="m_font py-3 pl-5">
      <span class="highlight-blue">No appointments found</span></div>
  <% else %>
    <div class="index-grid-appt">
      <% @user.appointments.each do |appt| %>

        <%= link_to architect_path(appt.architect), class: "card-index-link" do  %>
          <div class="card card-index-appt shadow-sm">
            <div class="card-header bg-white">
              <h6 class="mb-0 text-center"><%= appt.project.plot_postcode %></h6>
            </div>

            <% if appt.architect.portfolio_url.first.blank? == false %>
              <%= image_tag appt.architect.portfolio_url.first, crop: :fill, class: 'card-index-img' %>
            <% end %>

            <div class="card-body-appt">
              <div class="">
                <h6 class="mb-0"><%= appt.architect.name %></h6>
              </div>
              <div class="border-left my-3 pl-4 text-center">
                <h5 class="mb-0 blue"><%= appt.appt_time.strftime("%d") %></h5>
                <p class="mb-0"><%= appt.appt_time.strftime("%B")[0..2] %></p>
              </div>
              <div class="border-left my-3 pl-3 text-center">
                <h5 class="mb-0 blue"><%= "#{appt.appt_time.hour >= 12 ? appt.appt_time.hour - 12 : appt.appt_time.hour}:00" %></h5>
                <p class="mb-0"><%= appt.appt_time.hour >= 12 ? "PM" : "AM" %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
