<!-- tab body  -->
<div class="tab-content" id="pills-tabContent">

  <%= render 'users/show_tab_projects' %>

  <!-- plots tab -->
  <div class="tab-pane fade <%= 'show active' if params[:tab] != 'appt' %>" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <div class="row align-items-center"></div>
<!--     <div class="mt-4">
      <form class="form-inline">
        <p class="mb-1 h_font bold">Commute time to: </p>
        <div class="form-group mx-sm-3 mb-2">
          <input type="text" class="form-control h_font bold" placeholder="your work address?" name="destination">
        </div>
        <button type="submit" class="btn btn-outline-secondary mb-2 h_font bold">Calculate</button>
      </form>
    </div> -->

    <%= render 'users/project_modal' %>

    <!-- grid to contain cards -->
    <div class="profile-two-grid">
      <% if @user.shortlists.size == 0 %>
        <div class="m_font mb-3"><span class="highlight-blue">None found</span></div>
      <% else %>
        <% @user.shortlists.each do |shortlist| %>
            <%= render 'shortlists/card', shortlist: shortlist, comment: @comment %>
        <% end %>
      <% end %>
    </div>
  </div>

  <%= render 'users/show_tab_appts' %>
</div>
