
<div class="accordion" id="accordionExample">
  <div class="comment-container">
    <div class="comment-card" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link text-light btn-none" type="button" data-toggle="collapse" data-target="#collapseOne-<%= shortlist.id %>" aria-expanded="false" aria-controls="collapseOne">
          <!-- you can click anywhere to expand -->
          <i class="fas fa-comment-alt white l_font pb-3"></i>
        </button>
      </h2>
    </div>

    <div id="collapseOne-<%= shortlist.id %>" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <%= simple_form_for [shortlist, comment] do |f| %>
        <% if shortlist.comment.nil? %>
          <%= f.input :content, label: "", input_html: {value: ''}, placeholder: "Make a note about the plot" %>
        <% else %>
          <%= f.input :content, label: "", input_html: {value: shortlist.comment.content }, placeholder: "Make a note about the plot.." %>
        <% end %>
        <%= f.submit "Save Note", class: "btn btn-primary ml-4 mb-4" %>
      <% end %>
    </div>
  </div>
</div>
