<div class= "d-flex container mr-0 p-0 text-box">
  <div class="card card-index card-comment shadow-sm">

    <%= render 'shortlists/card_delete', shortlist: shortlist %>

    <!-- card main body -->
    <div id="collapseOne-<%= shortlist.id %>" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <% if shortlist.plot.image_url.blank? == false %>
          <%= image_tag shortlist.plot.image_url, crop: :fill, class: 'card-index-img' %>
        <% end %>
      <%= link_to plot_path(shortlist.plot) do %>
        <div class="card-body bg-light d-flex justify-content-between align-items-center py-3">
          <div class="card-left">
            <h6 class="m-0 grey" id="index-card-title">
                <%= truncate shortlist.plot.street_name, length: 20, separator: /\s/, omission: '' %>
            </h6>
            <p class="mb-0 grey h_font s_font">
              <% post_town = truncate shortlist.plot.post_town, length: 10, separator: /\s/, omission: '' %>
                <%= "#{post_town} #{shortlist.plot.outcode}" %>
            </p>
          </div>
          <div class="card-right text-right">
            <h6 class="card-subtitle blue bold"><%= shortlist.plot.property_type %></h6>
            <p class="mb-0 grey bold h_font s_font">
              <%= number_to_currency(shortlist.plot.price, unit: "£", precision: 0) %>
            </p>
          </div>
        </div>
      <% end %>

        <%= render 'shortlists/card_travel', shortlist: shortlist %>
    </div>

    <!-- card-comment -->
    <%= render 'shortlists/card_comment', shortlist: shortlist, comment: @comment %>
  </div>

  <%= render 'shortlists/card_sideinfo', shortlist: shortlist %>
</div>










