<div class="col-xs-12 col-md-6">
  <div class="">
    <% if shortlist.photos.present?%>
    <h5 class="centered-360">This is the 360 view for this plot</h5>
    <iframe width="600" height="230" allowfullscreen style="border-style:none;" src="https://cdn.pannellum.org/2.4/pannellum.htm#panorama=<%= shortlist.photos.first.photo_url.url.gsub(/http/, 'https') %>&autoLoad=true" ></iframe>
    <% p shortlist.photos.first.photo_url.url.gsub(/http/, 'https') %>
     <% else %>
      <h5 class="centered-360">Please Upload a 360 photo from Street view app</h5>
        <%= simple_form_for [shortlist, photo] do |f| %>
         <!-- [...] -->
        <%= f.input :photo_url, as: :file, label: 'Photo' %>
        <%= f.input :photo_url_cache, as: :hidden %>
        <%= f.submit %>
        <!-- [...] -->
    <% end %>
    <% end %>
  </div>
</div>
