<div class="banner">
  <div class="flex-container">

    <div class="row">
      <h2 class="f-shadow">Browse.. Find.. Build <br>the<span class="blue
        "> DREAM HOME</span></h2>
    </div>

   <div class="row">
      <!-- <input class="search-bar" type="search", placeholder="Postal Code Here" >
      <i class="fas fa-map-marker-alt search-icon"></i> -->
    <%= form_tag plots_path, method: :get do %>
      <%= text_field_tag :address,
        params[:address],
        class: "form-control search-bar",
        placeholder: "e.g. ‘ London’, ‘8DY’, 'E2 8DY’ or ‘Paddington Station'"
      %>
     <% end %>
       <%= link_to plots_path do %>
       <input class="btn-banner" type="submit", value= "START">
      <% end %>
    </div>

      <%#`= label_tag "search-radius", "Radius" %>
      <%#= number_field_tag :search_radius,
      params[:search_radius],
      label: "Search radius",
      class: "form-control search-bar",
      id:"search-radius",
      min: 5, max: 100, step: "5",
      value: 50,
      title:  "Search radius in kilometres"
      %>
      <%#= submit_tag "Search for a plot", class: "btn btn-primary" %>

    <!-- <div class="row"> -->



    <!-- </div> -->

  </div>
</div>



<div class="container margin-bottom">
  <div class="feature-card">
    <p><%= "    " %></p>
    <h5 class="blue mb-0">FEATURED PLOTS</h5>
    <p class="mb-0"><%= link_to "View All", plots_path, class: "nav-link-blue" %></p>
  </div>

  <div class="row">
    <div class="col-12 mx-auto">
      <div class="index-grid">
        <% @plots.each do |plot| %>
            <%= render 'plots/card', plot: plot %>
        <% end %>
      </div>
    </div>
</div>

